@charset "utf-8";

@import './variables.scss';
@import '../../../node_modules/bulma/bulma.sass';

body {
  position: relative;
  z-index: -2;
  // color: $dark;
  // background: $body-bg;
}

@mixin light-gradient() {
  background: $body-bg-light;
  transition: background-color 1000ms linear;
  position: relative;
  z-index: 100;
}

@mixin dark-gradient() {
  background: $body-bg-dark;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 0.5s;
}
