@charset "utf-8";

@import './variables.scss';
@import 'bulma/bulma.sass';
@import 'bulma-extensions/bulma-tooltip/src/sass/index.sass';
@import 'bulma-extensions/bulma-switch/src/sass/index.sass';

body {
  position: relative;
  z-index: -2;
  // color: $dark;
  // background: $body-bg;
}

.is-slightly-transparent {
  // backdrop-filter: blur(3px) opacity(0.8);
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px) brightness(1.3);
}

@mixin light-gradient() {
  background: $body-bg-light;
  position: relative;
  z-index: 100;
}

@mixin dark-gradient() {
  background: $body-bg-dark;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity $change-theme-duration;
}
