@import '../../../assets/scss/variables.scss';

.tasks {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__cta {
    text-align: center;
    font-weight: bold;
    a {
      color: $dark;

      &:hover {
        color: $black;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__empty-text {
    text-align: center;
  }

  ul {
    overflow: hidden;
  }
}

.example-enter {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0);
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.example-leave {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.example-leave.example-leave-active {
  opacity: 0;
  transform: translate(250px, 0);
  transform: translate3d(250px, 0, 0);
}
