@import '../../../../assets/scss/variables.scss';

.subtodo-field {
  &__input {
    border: none;
    background: none;
    padding: 0;
    box-shadow: none;
    color: $dark;
    font-weight: lighter;

    &::-webkit-input-placeholder {
      color: $dark;
    }
    &:-moz-placeholder {
      color: $dark;
    }
    &::-moz-placeholder {
      color: $dark;
    }
    &:-ms-input-placeholder {
      color: $dark;
    }
    &::placeholder {
      color: $dark;
    }

    &.dark {
      color: $black;
    }

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}
