@import '../assets/scss/main';

.app {
  height: 100%;
  min-height: 100%;

  overflow: hidden;

  width: 100%;
  position: absolute;
  right: 0;
  color: $dark;
  transition: color $change-theme-duration;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @include light-gradient();

  padding-left: $navbar-width;
  padding-top: 0;

  @media only screen and (max-width: $tablet) {
    height: auto;
  }

  @media only screen and (max-width: $mobile) {
    padding-left: 0;
    padding-top: $navbar-height;
    // padding-bottom: 2rem;
  }

  &.unauth {
    padding-left: 0;
  }

  &::before {
    @include dark-gradient();
  }

  &.dark {
    color: $black;
    transition: color $change-theme-duration;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &::before {
      opacity: 1;
    }
  }
}
