@import '../assets/scss/main';

.app {
  height: 100%;
  width: 100%;
  color: $dark;
  transition: color $change-theme-duration;
  @include light-gradient();

  &::before {
    @include dark-gradient();
  }

  &.dark {
    color: $black;
    transition: color $change-theme-duration;
    &::before {
      opacity: 1;
    }
  }
}
