@import '../../assets/scss/variables.scss';

.search-field {
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  display: flex;

  &__input {
    background: #e0f3ff;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .control {
    flex: 1;
    overflow: hidden;
  }

  &__validation {
    display: none;
  }

  &__dropdown {
    width: 6.8rem;

    &__button {
      border-radius: 7px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
      width: 6.8rem;
      display: flex;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }
    }

    &__content {
      width: 6.8rem;
    }

    &__item {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.control {
  .react-tagsinput {
    margin-left: 0 !important;
    border: 1px solid $info;
    background: #e0f3ff;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 2.5rem;
    width: 100%;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    span:not(.tag) {
      width: 100%;
      // display: flex;
      align-items: center;
    }

    &-tag {
      display: flex;
      // display: inline-block;
      margin-right: 0;
      margin-bottom: 0.15rem;
      margin-top: 0.15rem;
      margin-left: 0.3rem;
      a::before {
        content: ' ×';
      }
    }

    &-remove {
      padding-left: 0.3rem;
      cursor: pointer;
      font-weight: bold;
    }

    &-input {
      background: transparent;
      border: 0px;
      font-size: 1rem;
      outline: none;
      overflow: visible;
      flex: 1;
      font-weight: normal;
      box-shadow: none;

      &:focus {
        outline: none;
      }
    }
  }
}
