@import '../../assets/scss/variables.scss';

.main-route-tabs {
  margin: auto;
  height: $navbar-height;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include from($mobile) {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0;
  }

  .tabs {
    margin-bottom: 0;
    overflow: visible;
    ul {
      border: none;
      overflow: visible;

      @include from($mobile) {
        display: flex;
        flex-direction: column;
      }

      li {
        height: 4rem;
        width: 4rem;
        margin: 0.5rem 0;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        transition: background-color 0.5s;
        border-radius: 1rem;

        &:hover {
          a {
            color: $black;
          }
        }

        .tooltip {
          height: 100%;
          width: 100%;
          font: inherit;

          &__container {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        @media only screen and (max-width: $mobile) {
          font-size: 1.2rem;
          height: 3rem;
          width: 3rem;
          margin: 0.5rem;
        }

        a {
          color: $dark;
          transition: color 0.5s;
          padding: 0;
          border: none;
        }
      }

      .is-active {
        &:hover {
          a {
            color: $orange-dark;
          }
        }
        a {
          color: $orange-dark;
          transition: color 0.5s;
        }
        &::before {
          content: '';
          position: absolute;
          transition: border-color 0.5s;
          width: 4rem;
          margin: 1rem 0;
          height: 2rem;
          border-left: 4px solid $orange-dark;

          @media only screen and (max-width: $mobile) {
            width: 1rem;
            height: 3rem;
            margin: 0;
            border-left: none;
            border-bottom: 3px solid $orange-dark;
          }
        }

        background-color: $orange-light;
        border-radius: 1rem;
        transition: background-color 0.5s;
      }
    }
  }
}

.dark {
  .main-route-tabs {
    .tabs {
      ul {
        .is-active {
          &:hover {
            a {
              color: $purple-dark;
            }
          }
          background-color: $purple-light;
          a {
            color: $purple-dark;
          }
          &::before {
            transition: border-color 0.5s;
            border-left: 4px solid $purple-dark;
            @media only screen and (max-width: $mobile) {
              border-bottom: 3px solid $purple-dark;
              border-left: none;
            }
          }
        }
      }
    }
  }
}
