@import '../../assets/scss/variables.scss';

.page-container {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  @include from($mobile) {
    padding: 1.5rem 2rem;
  }

  &__columns {
    height: 100%;
  }

  .title-container {
    div {
      padding-right: 0;
    }
  }
}
