@import '../../assets/scss/variables.scss';

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.85rem;

  @media only screen and (min-width: $tablet) and (max-width: 880px) {
    font-size: 0.75rem;
    button {
      padding-left: 0.1rem !important;
      padding-right: 0.1rem !important;
      font-size: 0.75rem !important;
    }
  }

  button {
    font-size: 0.85rem;
    color: $dark;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    transition: color 0.5s;

    &.dark {
      color: $black;
    }

    &:focus {
      outline: none;
    }
  }
  &__view {
    p {
      span {
        font-weight: bold;
      }

      button.is-active {
        font-weight: bold;
        color: $black;
      }
    }
  }

  &__tag {
    font-weight: bold;
    button {
      font-weight: inherit;
    }
  }
}
