@import '../../../../assets/scss/variables.scss';

.kanban-panel {
  max-height: 75%;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  min-width: 20rem;
  max-width: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__subtodos {
    flex: 1;
    margin-top: 0.5rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__subtodo-creation {
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: -0.3rem;
  }
}
