@import '../../../assets/scss/variables.scss';

.todo-container {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobile) {
    padding: 0;
  }

  &__columns {
    height: 100%;
  }

  &__column {
    max-height: 100%;
    padding: 0 0.75rem;
  }
}
