@import '../../../assets/scss/variables.scss';

.todo-container {
  height: 100%;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;

  // @include from($mobile) {
  //   padding: 1.5rem 2rem;
  // }

  &__columns {
    height: 100%;
  }

  &__column {
    max-height: 100%;
    // overflow: scroll;
  }
}
